aiogram==2.17.1
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.9.3
bip32utils==0.3.post4
bip39gen==1.0.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
colored==1.4.2
configparser==5.2.0
cryptography==3.4.8
cycler==0.11.0
ecdsa==0.16.1
fake-useragent==0.1.11
fonttools==4.32.0
frozenlist==1.2.0
future==0.18.2
html5lib==1.1
idna==2.10
jedi==0.18.0
kiwisolver==1.4.2
loguru==0.5.3
lxml==4.6.3
matplotlib==3.5.1
mnemonic==0.19
multidict==5.2.0
mysql-connector-python==8.0.28
notify-py==0.3.3
numpy==1.21.2
opencv-python==4.5.3.56
packaging==21.3
parso==0.8.2
pefile==2021.9.3
Pillow==8.3.1
pluggy==1.0.0
protobuf==3.19.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyparsing==3.0.8
Pyrogram==2.0.27
PySocks==1.7.1
pyTelegramBotAPI==4.2.0
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.1
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.26.0
rsa==4.8
scipy==1.8.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
spark-parser==1.8.9
stem==1.8.0
Telethon==1.24.0
TgCrypto==1.2.3
torch==1.9.0+cu102
torchaudio==0.9.0
torchvision==0.10.0+cu102
torpy==1.1.6
torrequest==0.1.0
typing-extensions==3.10.0.0
ujson==4.1.0
uncompyle6==3.7.4
urllib3==1.26.4
webencodings==0.5.1
win32-setctime==1.0.3
xdis==5.0.11
yarl==1.7.2
